#cy {
  height: 100%;
  width: 100%;
  position: absolute; 
  top: 0;
  
  
}

.panel {

	width:250px;
	float:left;
	height: 650px;
	background:#d9dada;
	position:relative;
	left:-250px;
	top: -10px;
	
}
.slider-arrow {
	top: -10px;
	padding:5px;
	width:10px;
	float:left;
	background:#d9dada;
	font:400 14px Arial, Helvetica, sans-serif;
	color:#000;
	text-decoration:none;
	position:relative;
	left:-250px;
}
/* 
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}

.fa-2x {
  font-size: 2em;
}

.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
} */